.App {
  text-align: center;
  font-family: sans-serif;
}

.sample-canvas {
  margin-top: 40px;
  height: 500px;
  width: 500px;
  border: 2px dashed black;
}

.image {
  height: 800px;
  width: 900px;
  position: relative;
  object-fit: unset;
}

.drawing-area {
  position: absolute;
  top: 60px;
  left: 122px;
  z-index: 10;
}

.canvas-container {
  width: 600px;
  height: 600px;
  position: relative;
  user-select: none;
  left: 25%;
  top: 10%;
}

#tshirt-div {
  position: relative;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}