.App {
  text-align: center;
  font-family: sans-serif;
}

.sample-canvas {
  margin-top: 40px;
  height: 500px;
  width: 500px;
  border: 2px dashed black;
}

.canvas{
  display: flex;
  align-items: center;
  justify-content: center;
}

.title{
  margin-top: 50px;
}